$font-main: 'Raleway', sans-serif;
$font-restaurant :'Shrikhand';
$primary-color: black;
$button-color: linear-gradient(#FF79DA, #9356DC);
$background-light-grey: #F6F6F6;
$purple: #9356DC;
$icon-grey:#7E7E7E;
$footer-background:#353535;

body
{
    font: 100% $font-main;
    color: $primary-color;
    margin: 0;
}
a {
    text-decoration: none;
}
.main-container {
    animation: cssAnimation2 2s forwards;
}
header 
{
    display: flex;
    .retour {
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding-left: 10px;;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
        width: 100%;
        img {
            height: 36px;
        }
    }
}
.banner_restaurant {

    text-align: center;
    img {
        height:275px;
        width: 100%;
        object-fit: cover;
    }
}
.menu {
    display: flex;
    flex-direction: column;
    background-color: $background-light-grey;
    margin-top: -50px;
    width: 100%;

    .header_menu
    {
        width: 100%;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        .titre_restaurant {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $background-light-grey;

        h1 {
            display: flex;
            margin-left: 17px;
            font-family: $font-restaurant;
            font-size: 28px;
        }
        .heart {
            display: flex;
            align-items: center;
            width: 23px;
            height: 21px;
            background-image: url("../images/heart.png");
            cursor: pointer;
            &:active
            {
                transition-duration: 400ms;
                background-image: url("../images/heart-filled.png");
            }
        }
    }
    }

    .entree {
        .entree_titre {
            h3 {
                font-weight:400;
            }
            .separator {
                display: block;
                background-color: #99E2D0;
                height: 3px;
                width: 40px;
            }
        }
        .liste_entrees {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0 17px 0 17px;
            gap: 12px;
            
            li {
                display: flex;
                a {
                padding: 17px;
                background-color: white;
                border-radius: 20px;
                display: flex;
                justify-content: space-between;
                font-size: 15px;
                line-height: 25px;
                filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.1));
                text-decoration: none;
                color: black;
                width: 100%;
                    h4 {
                        font-size: 18px;
                        margin: 0;
                    }
                    .prix {
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        font-weight: bold;
                    }
                    &:hover + .valide {
                        transform: translate(100%, 0);
                        display: flex;
                    }
                }
                .valide {
                    display: none;
                    align-items: center;
                    justify-content: center;
                    background-color:#99E2D0;
                    color: white;
                    width: 59px;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    transition: transform 330ms ease-in-out;
                }
            }
        }
    }
}



footer {
    padding: 25px;
    background-color: $footer-background;
    font-size: 16px;
    font-weight: 500;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        flex-direction: row-reverse;
        align-items: center;
      }
    img {
        height: 27px;
    }
    ul {
        list-style: none;
        padding: 0;
        line-height: 30px;
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            margin-right: 25px;
            gap: 25px;
          }
        a {
            text-decoration: none;
            color: white;
            i {
                width: 14px;
                margin-right: 10px;
            }
        }
    }
}