$font-main: 'Raleway', sans-serif;
$font-restaurant :'Shrikhand';
$primary-color: black;
$button-color: linear-gradient(#FF79DA, #9356DC);
$background-light-grey: #F6F6F6;
$purple: #9356DC;
$icon-grey:#7E7E7E;
$footer-background:#353535;

body
{
    font: 100% $font-main;
    color: $primary-color;
    margin: 0;
}
a {
    text-decoration: none;
}
.main-container {
    animation: cssAnimation2 2s forwards;
}
header 
{
    display: flex;
    .retour {
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding-left: 10px;;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
        width: 100%;
        img {
            height: 36px;
        }
    }
}
.intro_restaurant {

    text-align: center;
    img {
        height:275px;
        width: 100%;
        object-fit: cover;
    }
    .titre_restaurant
    {
        position: absolute;
        top: 275px;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: $background-light-grey;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        h1 {
            margin-left: 17px;
            font-family: $font-restaurant;
            font-size: 28px;
        }
        .heart {
            display: flex;
            align-items: center;
            width: 23px;
            height: 21px;
            background-image: url("../images/heart.png");
            cursor: pointer;
            &:active
            {
                transition-duration: 400ms;
                background-image: url("../images/heart-filled.png");
            }
        }
    }

}
.restaurant {
    padding: 20px;
    background-color: $background-light-grey;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        padding: 0 0 30px 0;
        h2 {
            width: 100%;
            max-width: 1440px;
            padding: 0 180px;
            box-sizing: border-box;
            margin: 30px auto;
        }
      }
    .liste_restaurants {
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 35px;
        @media screen and (min-width: 768px) {
            max-width: 1440px;
            padding: 0 180px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 50px;
            margin: 0 auto;
          }
        .card {
            background-color: white;
            border-radius: 20px;
            position: relative;
            @media screen and (min-width: 768px) {
                width: calc(48% - 20px);
              }
            a {
                color: $primary-color;
                .image-restaurant {
                    height:200px;
                    width: 100%;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    object-fit: cover;
                }
                .nouveau {
                    height: 29px;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
                .card-content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px;
                    .detail {
                        font-size: 17px;
                        h3 {
                            padding: 0;
                            margin: 0 0 5px 0;
                            font-size: 18px;
                        }
                    }   
                }
            }
            .heart {
                width: 23px;
                height: 21px;
                position: absolute;
                right: 30px;
                bottom: 35px;
                background-image: url("../images/heart.png");
                cursor: pointer;
                &:active
                {
                    transition-duration: 400ms;
                    background-image: url("../images/heart-filled.png");
                }
            }
            
        }
    }
}

footer {
    padding: 25px;
    background-color: $footer-background;
    font-size: 16px;
    font-weight: 500;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        flex-direction: row-reverse;
        align-items: center;
      }
    img {
        height: 27px;
    }
    ul {
        list-style: none;
        padding: 0;
        line-height: 30px;
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            margin-right: 25px;
            gap: 25px;
          }
        a {
            text-decoration: none;
            color: white;
            i {
                width: 14px;
                margin-right: 10px;
            }
        }
    }
}